<% include ../layouts/header.ejs %>
<style>
    body{
        font-size: 10px;
    }
</style>
<div class="page1">
    <div class="cont">
        <h5 class="text-center subheadng">Payment Made Easy</h5>
        <div class="row">
            <!--left side-->
            <div class="col">
                <div id="icons">
                    <a href="/pay/electric">
                        <img src="/images/electric.png" width="50" height="50" >
                        <h3>electric</h3>
                    </a>
                </div>
                <div id="icons">
                    <a href="/pay/parking">
                        <img src="/images/parking.png" width="50" height="50">
                        <h3>Parking</h3>
                    </a>
                </div>
                <div id="icons">
                    <a href="/pay/train">
                        <img src="/images/train.png" width="50" height="50">
                        <h3>Train</h3>
                    </a>
                </div>

            </div>
            <div class="col">
                <div id="icons">
                    <a href="/pay/metro">
                        <img src="/images/metro.png" width="50" height="50">
                        <h3>Metro</h3>
                    </a>
                </div>
                <div id="icons">
                    <a href="/pay/bmtc">
                        <img src="/images/bus.png" width="50" height="50" >
                        <h3>BMTC</h3>
                    </a>
                </div>
                <div id="icons">
                    <a href="/pay/recharge">
                        <img src="/images/recharge.png" width="50" height="50">
                        <h3>Recharge</h3>
                    </a>
                </div>
            </div>
            <!--center sun-->
            <div class="col">
                <a href="/pay">
                    <div class="pulse" id="ani">
                        <div class="lot">
                            <img src="/images/pay.png" alt=""><br>Pay
                        </div>
                        <!--<h3 class="lot" >Pay <br> &#8377; </h3>-->
                        <img src="/images/sun.gif"height="350px"width="350px">
                    </div>
                </a>
            </div>
            <!--right side-->
            <div class="col">
                <div id="icons">
                    <a href="/pay/shoping">
                        <img src="/images/shoping cart.png" width="50" height="50">
                        <h3>Shoping</h3>
                    </a>
                </div>
                <div id="icons">
                    <a href="/pay/toll">
                        <img src="/images/toll.png" width="50" height="50">
                        <h3>Toll</h3>
                    </a>
                </div>
                <div id="icons">
                    <a href="/pay/movie">
                        <img src="/images/movie.png" width="50" height="50">
                        <h3>movie</h3>
                    </a>
                </div>
            </div>
            <div class="col">
                <div id="icons">
                    <a href="/pay/dth">
                        <img src="/images/dish.png" width="50" height="50">
                        <h3>DTH</h3>
                    </a>
                </div>
                <div id="icons">
                    <a href="/pay/food">
                        <img src="/images/food.png" width="50" height="50">
                        <h3>Food</h3>
                    </a>
                </div>
                <div id="icons">
                    <a href="/pay/plane-ticket">
                        <img src="/images/plane-ticket.png" width="50" height="50">
                        <h3>Plane Ticket</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" id="container">
        <div class="row">
            <div class="col">
                <a href="/receipts"><img src="/images/receipt.png" width="50" height="50"> <br>Receipt</a>
            </div>
            <div class="col">
                <a href="/transactions"><img src="/images/transaction.png" width="50" height="50"><br>Transaction</a>
            </div>
            <div class="col">
                <a href="#"><img src="/images/Rewards.png" width="50" height="50"><br>Rewards</a>
            </div>
            <div class="col">
                <a href="#"><img src="/images/offers.png" width="50" height="50"><br>Offers</a>
            </div>
            <div class="col">
                <a href="#"><img src="/images/bank.png" width="50" height="50"><br>Bank</a>
            </div>
            <div class="col">
                <a href="/send-money"><img src="/images/sendmoney.png" width="50" height="50"><br>Send Money</a>
            </div>
            <div class="col">
                <a href="/receive-money"><img src="/images/receivemoney.png" width="50" height="50"><br>Receive Money</a>
            </div>
            <div class="col">
                <a href="/balance"><img src="/images/purse.png" width="50" height="50"><br>Balance</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
